In [37]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [3]:
activity_df= pd.read_csv('C:\\Users\\Praneeth\\Downloads\\ee5180_end.csv')

In [5]:
activity_df.head()

,S.No,Easiness,Impact,Network growth,CGPA,Effort,Future Plans,Sports,Technical/Club POR,Volunteering/coord,Secretary/head,Activity
0,1,7,5,7,6.71,9,2,0,0,1,0,Volunteering
1,2,9,5,9,8.37,10,0,1,0,0,0,Sports
2,3,7,7,1,9.21,3,2,0,0,0,1,Secretary
3,4,5,8,9,7.71,5,1,0,1,0,0,Technical
4,5,7,7,7,9.46,6,1,0,1,0,0,Technical

In [4]:
activity_df.columns

Index(['S.No', 'Easiness', 'Impact', 'Network growth', 'CGPA', 'Effort',
       'Future Plans', 'Sports', 'Technical/Club POR', 'Volunteering/coord',
       'Secretary/head', 'Activity'],
      dtype='object')

In [6]:
X=activity_df.drop(['S.No', 'Sports', 'Technical/Club POR', 'Volunteering/coord', 'Secretary/head','Activity'],axis=1)
print(X.shape)
X

(70, 6)

    Easiness  Impact  Network growth  CGPA  Effort  Future Plans
0          7       5               7  6.71       9             2
1          9       5               9  8.37      10             0
2          7       7               1  9.21       3             2
3          5       8               9  7.71       5             1
4          7       7               7  9.46       6             1
..       ...     ...             ...   ...     ...           ...
65         9       4               2  6.56       7             3
66        10       6               5  6.66       4             2
67         7      10               5  8.11       3             0
68         4       3               5  9.37       5             1
69         5       4               9  9.51       6             1

[70 rows x 6 columns]

In [11]:
le=LabelEncoder()
lable_encoded_data = le.fit_transform(activity_df['Activity'])
lable_encoded_data=pd.DataFrame(data=lable_encoded_data,columns=['Activity'])
y=lable_encoded_data['Activity']

In [10]:
activity_df['Activity'].value_counts()

Sports          21
Technical       21
Volunteering    17
Secretary       11
Name: Activity, dtype: int64

In [9]:
activity_df['Activity']

0     Volunteering
1           Sports
2        Secretary
3        Technical
4        Technical
          ...
65          Sports
66    Volunteering
67       Technical
68          Sports
69    Volunteering
Name: Activity, Length: 70, dtype: object

In [28]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [29]:
y

0     3
1     1
2     0
3     2
4     2
     ..
65    1
66    3
67    2
68    1
69    3
Name: Activity, Length: 70, dtype: int32

In [43]:
model = LogisticRegression()

In [44]:
model.fit(x_train,y_train)

C:\Users\Praneeth\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
y_test_pred=model.predict(x_test)

In [46]:
y_test_pred

array([2, 2, 1, 3, 1, 2, 1, 2, 2, 1, 1, 0, 1, 1, 1, 2, 1, 2])

In [47]:
accuracy_score(y_test_pred,y_test)

0.7777777777777778

In [48]:
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(x_train,y_train)
y_pred2 = model2.predict(x_test)

In [49]:
accuracy_score(y_pred2,y_test)

0.7222222222222222